.idea
.DS_Store
.eslintignore
.eslintrc.js
.prettierrc.js
gulpfile.js
tsconfig.json
package-lock.json
.github
.vscode

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

test
docs
build
src
dev
tmpls
scripts
node_modules
coverage