/*
 * Copyright 2023 lspriv. All Rights Reserved.
 * Distributed under MIT license.
 * See File LICENSE for detail or copy at https://opensource.org/licenses/MIT
 * @Description: 年度面板
 * @Author: lspriv
 */
@use 'theme' as *;
@use 'mixin' as *;

.wc__a {
  width: 100vw;
  height: 100vh;
  top: -150vh;
  left: 0;
  z-index: 102400;
  opacity: 0;
  background: theme(annual-bg);
  overflow: hidden;
  contain: layout style;
  @include if(non-custom) {
    --wc-abh: 0px;
    --wc-ahh: calc(var(--wc-mb) - var(--wc-mt) + 30rpx);
    .wc__ah {
      height: var(--wc-ahh);
      padding-top: 15rpx;
      padding-bottom: 15rpx;
    }
    .wc__apc {
      height: calc(100% - var(--wc-ahh));
      top: var(--wc-ahh);
    }
  }
}

.wcc--skyline {
  .wc__a {
    position: absolute;
  }
}

.wcc--webview {
  .wc__a {
    position: fixed;
  }
}

.wc__ah {
  height: calc(var(--wc-mb));
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 30rpx;
  padding-top: var(--wc-mt);
  &t {
    font-size: theme(annual-title-size);
    line-height: 1;
    font-weight: bold;
    color: theme(annual-title-color);
  }
  &tp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    height: 42rpx;
  }
  &ti {
    position: relative;
    padding-left: 26rpx;
    margin-left: 16rpx;
    font-size: theme(annual-title-sub-size);
    line-height: 1;
    min-height: theme(annual-title-sub-size);
    color: theme(annual-title-sub-color);
    &::before {
      content: "";
      position: absolute;
      height: 4rpx;
      width: 14rpx;
      left: 0;
      top: 50%;
      background-color: var(--atc);
      border-radius: 2rpx;
      transform: translateY(-50%);
    }
  }
}

.wc__apc {
  position: absolute;
  width: 100%;
  height: calc(100% - var(--wc-mb));
  top: var(--wc-mb);
  left: 0;
  right: 0;
}

.wc__ap {
  width: 100vw;
  height: calc(100% - var(--wc-abh));
  &cs {
    width: 100%;
    height: 100%;
  }
}

.wc__aps {
  width: 100%;
  height: 100%;
}