/*
 * Copyright 2023 lspriv. All Rights Reserved.
 * Distributed under MIT license.
 * See File LICENSE for detail or copy at https://opensource.org/licenses/MIT
 * @Description: 面板底部控制条
 * @Author: lspriv
 */

.wc__bar {
  width: 100%;
  height: $wc-calendar-bar-height;
  position: relative;
  z-index: 1024;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background: transparent;
  opacity: 1;
  transform: translateY(0);
  transition: all .28s ease;
  overflow: hidden;
  contain: layout style;
  @include if(hidden) {
    opacity: 0;
    transform: translateY(100%);
    transition: unset;
  }
  &-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-item {
      width: 30rpx;
      height: 40rpx;
      overflow: hidden;
      position: relative;
      &-bar {
        width: 60rpx;
        height: 6rpx;
        background: theme(control-bg);
        position: absolute;
        top: calc(50% - 8rpx);
      }
      &:first-child &-bar {
        transform-origin: 0 50%;
        border-radius: 4rpx 0 0 4rpx;
        left: 0;
      }
      &:last-child &-bar {
        transform-origin: 100% 50%;
        border-radius: 0 4rpx 4rpx 0;
        right: 0;
      }
    }
  }
}

.wc {
  @include if(hide-dragbar) {
    .wc__bar {
      opacity: 0 !important;
      height: 20rpx !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}