@use 'theme' as *;
@use 'funcs' as *;
@use 'mixin' as *;

.wcc {
  width: 100vw;
  @include theme-values($wc-theme-size);
  @include theme-values($wc-theme-light, 'light');
  @include theme-use($wc-theme-light, 'light', op-bg, op-color);
  @include if(dm) {
    @include theme-values($wc-theme-dark, 'dark');
    .wc {
      --wc-op-bg: var(--wc-op-bg-dark);
      --wc-op-color: var(--wc-op-color-dark);
    }
  }
}

view,
swiper {
  box-sizing: border-box;
}

$fixed-view-sub: 20rpx;

.wc {
  position: relative;
  width: 100%;
  background: theme(bg);
  display: flex;
  flex-direction: column;
  z-index: 1024;
  overflow: hidden;
  --wc-op-bg: var(--wc-op-bg-light);
  --wc-op-color: var(--wc-op-color-light);
}

.wc-F {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wc-FV {
  flex-direction: column;
} 

.wc-FB {
  justify-content: space-between;
}

.wc-JS {
  justify-content: flex-start;
}

.wc-JE {
  justify-content: flex-end;
}

.wc-AE {
  align-items: flex-end;
}