view,
scroll-view,
swiper,
button {
    box-sizing: border-box;
}

text {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

view,
text {
    font-family: $wx-calendar-font;
}

.wx-calendar-container {
    position: relative;
    width: 100vw;
    @include theme-values($wx-calendar-theme-normal);
}

.wx-calendar {
    position: relative;
    width: 100%;
    z-index: 1024;
    background: theme(main-bg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wx-calendar-swiper {
    width: 100%;
    height: 100%;
    // &-item {}
}

.wx-calendar-content {
    position: relative;
    background-color: theme(main-bg);
}