.wcc {
  width: 100vw;
  @include theme-values($wc-theme-size);
  @include theme-values($wc-theme-light, 'light');
  @include theme-use($wc-theme-light, 'light');
  @include if(darkmode) {
    @include theme-values($wc-theme-dark, 'dark');
  }
}

view,
swiper {
  box-sizing: border-box;
}

.wc {
  position: relative;
  width: 100%;
  background: theme(bg);
  display: flex;
  flex-direction: column;
  z-index: 1024;
  overflow: hidden;
  $fixed-view-sub: 20rpx;
  @include if (view-fixed) {
    .wc__panel {
      transition: all .28s ease !important;
    }
  }
  @include if (view-fixed, week) {
    padding-bottom: $fixed-view-sub;
    .wc__panel {
      height: calc($wc-calendar-panel-height / 5) !important;
    }
  }
  @include if (view-fixed, month) {
    padding-bottom: $fixed-view-sub;
    .wc__panel {
      height: $wc-calendar-panel-height !important;
    }
  }
}