/*
 * Copyright 2023 lspriv. All Rights Reserved.
 * Distributed under MIT license.
 * See File LICENSE for detail or copy at https://opensource.org/licenses/MIT
 * @Description: 头部
 * @Author: lspriv
 */
@use 'funcs' as *;
@use 'mixin' as *;
@use 'theme' as *;
 
.wc__header {
  height: $wc-calendar-header-height;
  padding: 20rpx 40rpx 0;
  position: relative;
  z-index: 1024;
  background: transparent;
  overflow: hidden;
  opacity: 1;
  transform: translateY(0);
  transition: all .28s ease;
  contain: layout style;
  @include if(hidden) {
    opacity: 0;
    transform: translateY(-100%);
    transition: unset;
  }
}

.wc__header-title {
  position: relative;
  transition: all .28s ease 0s;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  color: theme(title-color);
  font-size: theme(title-size);
  line-height: 1;
  font-weight: 500;
    
  .wc__header-title-info {
    font-size: theme(title-sub-size);
    line-height: 1.5;
    color: theme(title-sub-color);
    margin: 0 0 0 6rpx;
    font-weight: normal;
    transition: all .28s ease 0s;
    opacity: 1;
  }
}

.wc__header-ops {
  transition: all .28s ease 0s;
  opacity: 1;
  overflow: hidden;
  --wc-operator-side: 60rpx;
  --wc-operator-padding: 8rpx;
  --wc-operator-inner-side: calc(var(--wc-operator-side) - var(--wc-operator-padding) * 2);
}

.wc__header-op {
  position: relative;
  width: var(--wc-operator-side);
  height: var(--wc-operator-side);
  border-radius: 50%;
  overflow: hidden;
  background-color: theme(op-bg);
  background-image: radial-gradient(circle at center, theme(op-color) 0%, theme(op-color) 50.5%, transparent 51.5%);
  background-repeat: no-repeat;
  background-size: var(--wc-operator-side) var(--wc-operator-side);
  background-position: 0 0;
  transform: translateZ(0);
  filter: invert(1);
  &::before, 
  &::after {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--wc-operator-side);
    height: var(--wc-operator-side);
    color: theme(op-color);
    font-size: theme(operator-size);
    line-height: 1;
    font-weight: bold;
    mix-blend-mode: difference;
  }
  @include if (today) {
    opacity: 0;
    border-radius: 50%;
    transform: scale(.3) translateZ(0px);
    transition: all .28s ease 0s;
    &::before {
      content: "今";
    }
    &::after {
      display: none;
    }
  }
  @include if (views) {
    width: calc(var(--wc-operator-side) * 2);
    border-radius: calc(var(--wc-operator-side) / 2);
    justify-content: space-between;
    margin-left: 16rpx;
    transition: all .28s ease;
    &::before {
      content: "月";
    }
    &::after {
      content: "周";
    }
  }
  @include if(today, show) {
    opacity: 1;
    transform: scale(1) translateZ(0px);
  }

  .wc__header-op-view {
    width: var(--wc-operator-side);
    height: var(--wc-operator-inner-side);
    position: absolute;
    top: var(--wc-operator-padding);
    left: var(--wc-operator-side);
    z-index: 100;
    border-radius: calc(var(--wc-operator-inner-side) / 2);
    overflow: hidden;
    &-text {
      width: var(--wc-operator-side);
      height: var(--wc-operator-inner-side);
      position: absolute;
      top: 0;
      color: theme(bg);
      filter: invert(1);
      font-size: theme(operator-size);
      line-height: 1;
      font-weight: bold;
    }
    &:first-child {
      transform: translateX(-100%);
      .wc__header-op-view-text {
        right: 0;
      }
    }
    &:last-child {
      .wc__header-op-view-text {
        left: 0;
      }
    }
  }
}

.wc__views-bar {
  position: absolute;
  width: var(--wc-operator-inner-side);
  height: var(--wc-operator-inner-side);
  top: var(--wc-operator-padding);
  left: var(--wc-operator-padding);
  border-radius: 50%;
  transform: translateX(0) translateZ(0px);
  background: theme(op-color);
  z-index: 10;
}

.wc {
  @include if(hide-header) {
    .wc__header {
      height: 20rpx !important;
      opacity: 0 !important;
    }
  }
  @include or(hide-header, hide-title) {
    .wc__header-title {
      opacity: 0 !important;
    }
  }
  @include or(hide-header, hide-subinfo) {
    .wc__header-title-info {
      opacity: 0 !important;
    }
    
  }
  @include or(hide-today, hide-header) {
    .wc__header-op--today {
      display: none !important;
    }
    
  }
  @include or(hide-viewbar, hide-header) {
    .wc__header-op--views {
      display: none !important;
    }
  }
}

.wcc--skyline {
  .wc__header-op {
    background-image: unset;
  }
  .wc__header-op--today {
    &::before {
      content: "";
      width: var(--wc-operator-inner-side);
      height: var(--wc-operator-inner-side);
      background-color: theme(op-color);
      border-radius: 50%;
    }
    &::after {
      content: "今";
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      color: theme(bg);
      filter: invert(1);
    }
  }
  .wc__header-op--views {
    transform-origin: 100% 50%;
    transition: all .28s ease;
    &::before,
    &::after {
      color: theme(op-color);
      position: relative;
      z-index: 1;
    }
  }
}