.wc__week {
  @include column-rect;
  height: $wc-calendar-weeks-height;
  padding: 10rpx 10rpx 0;
  position: absolute;
  width: 100%;
  top: 100rpx;
  left: 0;
  z-index: 1024;
  background: transparent;
  transition: all .28s ease 0s;
  opacity: 1;
  contain: layout style;
  &-item {
    text-align: center;
    font-size: theme(week-size);
    color: theme(week-color);
    font-weight: bold;
    @include column-width;
  }
}

.wc.wc--loading {
  .wc__week {
    opacity: 0;
  }
}