/*
 * @Description: Description
 * @Author: lishen
 * @LastEditTime: 2023-10-23 19:33:24
 */

var isSkyline = function (renderer) {
  return renderer === 'skyline' || renderer === 'unknown';
};

var isChecked = function (date, checked) {
  return date.year === checked.year && date.month === checked.month && date.day === checked.day;
};

var cutSchedules = function (schedules) {
  if (!schedules || !schedules.length) return [];
  return schedules.slice(0, 3);
};

module.exports = {
  isSkyline,
  isChecked,
  cutSchedules
};
