/*
 * Copyright 2023 lspriv. All Rights Reserved.
 * Distributed under MIT license.
 * See File LICENSE for detail or copy at https://opensource.org/licenses/MIT
 * @Description: wxs工具方法
 * @Author: lspriv
 * @LastEditTime: 2023-10-30 15:44:19
 */

var isSkyline = function (renderer) {
  return renderer === 'skyline' || renderer === 'unknown';
};

var isChecked = function (date, checked, pdx, curr) {
  return pdx === curr && date.year === checked.year && date.month === checked.month && date.day === checked.day;
};

var cutSchedules = function (schedules) {
  if (!schedules || !schedules.length) return [];
  return schedules.slice(0, 3);
};

module.exports = {
  isSkyline,
  isChecked,
  cutSchedules
};
